% Simulation Sweep Script 
plecs('clc');                                   % Clear Console.
plecs('warning', 'warning message');            % Display Warnings.

%% Sweep data
{% if mapvars_dim == 3 %}
% 3D data structure
data = {
    {% for row in mapvars %}
    { {% for inner in row %}[{{ inner | join(', ') }}]{% if not loop.last %}, {% endif %}{% endfor %} }{% if not loop.last %};
    {% endif %}
    {% endfor %}
};
{% else %}
% 2D data structure (regular matrix)
data = [
    {% for row in mapvars %}    [{{ row | join(', ') }}];
    {% endfor %}
];
{% endif %}

{{ simstruct_line }}

t = localtime(time());
fprintf('Date               : %s\n', strftime("%r (%Z) %A %e %B %Y", t));
fprintf('Time               : %s\n', strftime("%H:%M:%S", t));
fprintf('Iterations         : %d\n', size(data, 1));

for sim = 1:size(data, 1)
    
    % Construct filename using strcat with simulation number
    filename = strcat('{{ output_folder }}', sprintf('_%03d.csv', sim));

    % Assign filename to ToFile block
    simStruct.ModelVars.Common.ToFile.FileNameStandalone = filename;
    
    % Print filename for verification
    fprintf('Output File: %s\n', filename);


    fprintf('\n');
    %% ------------------------------------------------------------------------
    fprintf('%s\n', '-' * ones(1, 90));
    fprintf('Iteration Number   : %d\n\n', sim);
    fprintf('\n');

    {% for i, expr in mappings.items() %}
    % Assign value
    {{ expr }};
    
    % Print evaluated value
    fprintf('%-50s = %12g\n','{{ expr.split("=")[0].strip() }}', {{ expr.split("=")[0].strip() }});
    {% endfor %}

    fprintf('\n');
    %% ------------------------------------------------------------------------
    plecs('simulate', simStruct);
    %% ------------------------------------------------------------------------
end

fprintf('\nComplete! Ran %d Iterations\n', size(data, 1));
fprintf('%s\n', '-' * ones(1, 90));